body {
  padding-top: 50px;
}

@media screen and (max-width: 767px){
body {
  padding-top: 0px;
}
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.fengkai{
  width:22px;
  height:2px;
}
